.Input {
    width: 100%;
    padding: 10px;
    /* border: 2px solid turquoise; */
    box-sizing: border-box;
    background-color: transparent;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    /* background-color: rgb(192, 31, 31); */
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}