.Cart{
    /* box-shadow: 10px 10px 8px #888888; */
    /* color: red; */
    text-align: center;
    /* border: 3px solid lightblue; */
    width: 300px;
    margin: 8px;
    padding: 5px;
    /* background-color: rgba(10, 172, 236,0.8); */
    background-color: rgb(83 167 240);
    border-radius: 10px;
}
.Cart:hover{
    /* box-shadow: 10px 10px 8px #888888; */
    /* color: red; */
    text-align: center;
    /* border: 2px solid rgb(153, 223, 246); */
    /* width: 320px; */
    position: relative;
    left: 5px;
    margin: 8px;
    padding: 5px;
    background-color: rgba(10, 172, 236,0.8);
    cursor: text;
}

